.trustedshops {
  &-star-rate {
    &__placeholder {
      svg {
        fill: #ccc;
      }
    }

    &__filled {
      height: 15px;
      margin-top: -15px;
      overflow: hidden;

      svg {
        fill: yellow;
      }
    }
  }
}

